package templates

import "github.com/Yummiii/Nayu/web/components"

templ Base() {
	<!DOCTYPE html>
	<html lang="en" class="bg-zinc-950 text-stone-200">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/tailwind.css"/>
			<script src="/assets/js/htmx.min.js" defer></script>
		</head>
		<body>
			@components.Navbar()
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
